.activity{
   
    .description-wrap-default{
        margin-left: 2rem;
        color: 	#505050;
        padding: 0.8rem 0rem;
        font-size: 0.8rem;
    }
    .description-wrap-edit{
        margin-top: 1rem;
        margin-left: 2rem;
        .activity-text{
            color: 	#505050;
            border-radius: 0.2rem;
            background-color:white;
            padding: 0.8rem;
            font-size: 0.8rem;
            outline: none;
           }
        .textarea-wrap{
            width:95%;
            border:solid 1px #C8C8C8;
            height:auto;
            .save-activity {
                .activity-save-btn-disabled{
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 3px;
                    background: $light-gray;
                    color: #C8C8C8;
                    padding: 8px 10px;
                    font-size: 0.8rem;
                    cursor: not-allowed;
                    &:hover{
                        background: #E0E0E0;
                    }
                    
                  }
                .activity-save-btn-activated{
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 3px;
                    background: $btn-green;
                    color: white;
                    padding: 8px 10px;
                    font-size: 0.8rem ;
                    &:hover{
                        background: $btn-green-hover;
                    }        
                }
                .i-group{
                  float: right;
                  margin-right:1rem;
                  i{
                      margin-left: 1.5rem;
                      padding-top: 10px;
                      color: #505050;
                      right: 0;
                      
                  }
                }
                }
            }
    }
    .comment-activity-set{
        div{
            color: #505050;
            padding: 8px 8px;
            font-size: 0.9rem;
            background-color:white;
            
        }
    }
    .comment-title-set{
        display: flex;
        
        .initials{
            margin: 0rem 0.5rem 0.5rem -0.5rem;
            font-size: 0.75em;
            padding: 5px;
            width: 28px;
            height: 28px;
            border-radius: 2rem;
             
        }
        .bold-title{
            color: $dark-text; 
            font-weight: bold;
            font-size: 0.8em;
           
            margin: 0.5rem 0rem 0.5rem 0rem;
        }
        .detail-title{
            color: #808080; 
            font-size: 0.8rem;
            margin: 0.5rem 0rem 0.5rem 0.5rem;
 
        }
    }
}