.activity{
  
    .description-wrap-default{
        margin-left: 2rem;
        color: 	#505050;
        padding: 0.8rem;
        font-size: 0.9rem;
    }
    .description-wrap-edit{
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        .activity-text{
            color: 	#505050;
            border-radius: 0.2rem;
            background-color:white;
            padding: 0.8rem;
            font-size: 0.9rem;
            outline: none;
           }
        .textarea-wrap{
            max-width:100%;
            border:solid 1px #C8C8C8;
            height:auto;
            background-color:white;
          
            .activity-text{
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                background-color:white;
                border: none;
                background-color: transparent;
                resize: none;
                outline: none;
                overflow: auto;
                width: 100%;
            }
            .save-activity {
                background-color: white;
                .activity-save-btn-disabled{
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 3px;
                    background: $light-gray;
                    color: #C8C8C8;
                    padding: 8px 10px;
                    font-size: 0.9rem;
                    cursor: not-allowed;
                    &:hover{
                        background: #E0E0E0;
                    }
                    
                  }
                .activity-save-btn-activated{
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 3px;
                    background: $btn-green;
                    color: white;
                    padding: 8px 10px;
                    font-size: 0.9rem ;
                    &:hover{
                        background: $btn-green-hover;
                    }        
                }
                .i-group{
                  float: right;
                  margin-right:1rem;
                  i{
                      margin-left: 1.5rem;
                      padding-top: 10px;
                      color: #505050;
                      right: 0;
                  
                  }
                }
                }
            }
    }
    .comment-activity-set{
        
        margin: 0rem 0rem 1.5rem 2rem;
       
        .div-act-display{
         
            color: #505050;
            padding: 0.8rem;
            font-size: 0.9rem;
            background-color:white;
            border:solid 1px #C8C8C8;
            border-radius: 0.2rem;
            word-break: break-all;
            max-width: 96%;
           
        }
        .function-set{
            
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            .emoji-set{
                border-radius: 0.8rem;
                padding: 0.2rem 0.3rem 0.2rem 0.3rem ;
                background-color:white;
                border:solid 1px #3498DB ;
                &:hover .tool-tip{
                    visibility: visible;
                    
                }
                margin-right: 0.5rem;
                .emoji-span{
                
                    font-size: small;
                  
                }
                 
                .num-span{
                    color:#3498DB;
                    font-size: small;
                    font-weight: bold;
                     
                }
                .tool-tip{
                    visibility: hidden;
                    border-radius: 3px;
                    padding:4px 7px 4px 7px;
                    color: white ;
                    font-size: 0.9rem;
                    background-color: black;
                    text-align: center;
                    position: absolute;
                    margin-top: 0.5rem;
                }
            }
         
            i{
                color: #808080;
                margin-right: 0.4rem;
            }
            button{
                color: #808080; 
                font-size: 0.8rem;
                text-decoration: underline;
                background-color: transparent;
            }
        }
        .picker{
            position: absolute;
        }
        .delete-popup{
            background-color: white;
            width: 30%;
            font-size: 0.9rem;
            padding:1rem;
            position: absolute;
            .delete-popup-header{
                text-align: center;
                width: 100%;
                span{
                    color:#808080
                    
                }
                i{
                    color:	#A9A9A9;
                    position: absolute;
                    padding-top: 0.2rem;
                    right:1rem;
                    
                    &:hover{
                        color:black;
                    }
                }
            }
            .delete-popup-body{
                p{
                    color: 	#505050;
                }
                button{
                    text-align: center;
                    height:1.8rem;
                    width: 100%;
                    border-radius: 3px;
                    background: #ff7f7f;
                    color: white;
                    padding: 5px 8px;
                    &:hover{
                        background: #ff6666;
                    }
                }
            }
          
        }
    }
    .comment-title-set{
        display: flex;
        .initials{
            margin: 0rem 0.5rem 0rem -0.5rem;
            font-size: 0.75em;
            padding: 5px;
            width: 28px;
            height: 28px;
            border-radius: 2rem;
             
        }
        .bold-title{
         
            color: $dark-text; 
            font-weight: bold;
            font-size: 0.8em;
           
            margin: 0.5rem 0rem 0rem 0.3rem;
        }
        .detail-title{
            color: #808080; 
            font-size: 0.8rem;
            margin: 0.5rem 0rem 0rem 0.5rem;
 
        }
    }
}