.addBtn{
    margin: 10px;
    padding: 7px;
    border: none;
    cursor: pointer;
    background-color: transparent; 
    color: #808080;
    font-weight: 100m;
    font-size: 1em;
    outline: none;
    i{
      color: #C0C0C0;
      padding-right: 0.3rem;
    }
    &:hover {
      background-color: #D8D8D8;
      color:  #000000;
      margin: 10px;
      padding: 7px;
      border-radius: 0.2rem;
  }
}