
.addListDialog{
    background-color: $light-gray; 
    border-radius: 0.2rem;
    margin:0.5rem 0rem 0.5rem 0.5rem;
    height:5.2rem;
      input{
        margin:0.5rem;
        padding: 0.5rem 7rem 0.5rem 0.5rem;
        cursor: auto;
        color: $dark-text; 
        outline: #5E9ED6 solid 2px;
      }
    }
    .addBtn {
        height:1.8rem;
        border-radius: 3px;
        background: $btn-green;
        color: white;
        padding: 5px 13px;
        margin: 0px 0.4rem 0.4rem 0.4rem;
        &:hover{
            background: $btn-green-hover;
        }
    }
    
    .cancelBtn{
        background-color: transparent;
        color: #787878;
        &:hover {
            color:#202020;
        }
    }
  