header {
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        box-sizing: border-box;

    }
    .header-section {
        height: 100%;
        display: flex;
        align-items: center;
    }
    button {
        margin: 0 2px;
    }
    .header-btn {
        color: inherit;
        height: 100%;
        background: $medium-light-trans;
        padding: 0 8px;

        i {
            font-size: 1em;
        }
        span {
            padding-left: 10px;
        }
    }
    .header-btn:hover {
        background: rgba(255, 255, 255, 0.2)
    }
}

.header {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 4px 2px;
    background-color: rgba(0, 0, 0, 0.15);
    .header-btn {
        i {
            font-size: 1.2em;
        }
    }
    button {
        font-weight: bold;
    }
    h1 {
        display: flex;
        align-items: center;
        position: absolute;
        margin: 0 auto;
        width: fit-content;
        vertical-align: middle;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-family: 'Damion', cursive;
        font-size: 1.5em;
        color: $light-trans;
        i {
            padding-right: 1.5px;
            font-size: 0.8em;
        }
    }

    .notifications {
        background: hsl(188,100,43);
    }
    .notifications:hover {
        background: hsl(188,100,40);
    }    
}

.options-bar {
    height: 48px;
    padding: 8px 5px;
    .header-section {
        > * {
            padding: 0px 10px;
            margin: 0 2px;
        }
        > span {
            color: $medium-light-trans;
            padding: 0 5px;
        }
        > div {
            height: 100%;;
        }
    }
    .title {
        cursor: pointer;
        background: transparent;
        display: flex;
        align-items: center;
        outline: none;
        font-weight: bold;
        padding: 0 12px;
        font-size: 1.1em;
    }
    .title:focus, .title:focus:hover {
        background: white;
        color: $dark-text;
        cursor: auto;
        border-radius: 0;
    }
    .initials {
        margin-right: 4px;
    }
    .invite-section {
        padding: 0;
    }
    .invite {
        position: absolute;
        margin-top: 5px;
        button {
            padding: 10px;
        }
        button:disabled {
            background-color: $light-gray;
            color: $light-text;
            cursor: not-allowed;
        }
    }
    .header-btn:hover {
        background: rgba(255, 255, 255, 0.4)
    }
}