.item{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0px 1px	#C0C0C0;
    &:hover {
        background-color: #F8F8F8;
    }
}