.plane{
   
    width: 38%;
    height: 65%;
    background-color: white;
    border-radius: 0.2rem;
    border: 1px solid #DCDCDC;
    box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),0.3em 0.3em 1em rgba(0,0,0,0.3);
    position: absolute;  
    top: 5%;
    left: 32%;
    z-index: 1;
    .title-name{
        text-decoration: underline dashed #808080;
    }
    .bold-title{
        color: $dark-text; 
        font-weight: bold;
        font-size: 1em;
        margin-left: 1rem;
    }
    .sub-title{
        color: #808080; 
        font-size: 0.8rem;
        margin-top:0.2rem;
        margin-left: 2.2rem;
    }
    .fa-times{
        float: right;
        padding-right: 1rem;
        padding-top: 1rem;
        color:	#A9A9A9;
        &:hover{
            color:black;
        }
    }

    .window-header{
        padding-top: 1.5rem;
        padding-left: 1.5rem;
       
    }
    .window-main-col{
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        width: 75%;
        float: left;
        background-color: white;
        .descript-text{
            margin-top: 1rem;
            margin-left: 1.8rem;
            margin-bottom: 2rem;
            margin-right: 1rem;
            textarea {
            border: none;
            overflow: auto;
            outline: none;
            resize: none; 
            width: 100%;
            padding-top: 0.8rem;
            padding-left: 0.8rem;
            background-color:  $light-gray;
            font-size: 0.8rem;
            color: 	#505050;
            border-radius: 0.2rem;
          }
        }
        
        .show-detail-btn {
            border-radius: 3px;
            background: $light-gray;
            color: #505050;
            padding: 4px 8px;
            
            float:right;
            &:hover{
                background: #E0E0E0;
            }
        }
        .comment-text{
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: flex;

            .initials {
                margin: 0.5rem 0.5rem 0.5rem -0.5rem;
                font-size: 0.75em;
                padding: 5px;
                width: 28px;
                height: 28px;
            }
             
            .tarea {
                -moz-appearance: textfield-multiline;
                -webkit-appearance: textarea;
                border: solid 1px #C8C8C8;
                color: 	#505050;
                height: 28px;
                overflow: auto;
                border-radius: 0.2rem;
                background-color:  white;
                width: 110%;
                padding-top: 0.8rem;
                padding-left: 0.8rem;
                font-size: 0.8rem;
                cursor: pointer;
                outline: none;
                &:empty:before{
                  content: attr(placeholder);
                  color: #ccc;
                }
                &:focus{
                    min-height:50px;
                }
            }
            

   
        }
    }
    .window-sidebar{
        float: right;
        width: 20%;
        background-color: white;
        font-size: 0.8rem;
        color: 	#505050;

        .add-to-card{
            color: #808080; 
            font-size: 0.8rem;
            margin:0 0 0.5rem 0;
        }

        ul{
            list-style-type: none;
            margin-top: 0;
            margin-left: 0;
            padding-left: 0;
            li{
              
                border-radius: 3px;
                background: $light-gray;
                color: #505050;
                padding: 7px 10px;
                margin-bottom: 0.5rem;
                margin-right: 1.5rem;
                &:hover{
                    background: #E0E0E0;
                }
                i{
                    margin-right: 0.5rem;
                }
            }
            li:last-child{
                margin-bottom: 1.5rem;
            }
        }

        button{
          
                border-radius: 3px;
                width: 87%;
                background: $light-gray;
                color: #505050;
                padding: 7px 10px;
                margin-bottom: 1.5rem;
                margin-right: 1.5rem;
                &:hover{
                    background: #E0E0E0;
                }
        }
    }
}