@import "./css/global";
@import "./css/prompt";
@import "./css/headers";
@import "./css/title";
@import "./css/interfaceCard";
@import "./css/item";
@import "./css/addBtn";
@import "./css/AddCardDialog";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1979bf;
}

.app {
  height: 100vh;
}